Repository Dogacel/kotlinx-protobuf-gen: changes, and which Codecov flags are due for each by the changed paths.
All: app, generated code tests, runtime-common

add badge & kover runtime
  README.md
  runtime-common/build.gradle.kts
Due: runtime-common

add badge & kover runtime (#17)
  README.md
  runtime-common/build.gradle.kts
Due: runtime-common

try adding qodana
  .github/workflows/code_quality.yml
  codecov.yml
Due: none

update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Create detekt.yml
  .github/workflows/detekt.yml
Due: none

try fixing detekt
  .github/workflows/detekt.yml
  README.md
  codecov.yml
Due: none

revert detekt
  .github/workflows/detekt.yml
Due: none

add pr template
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
Due: none

update coverage report (#19)
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
  README.md
  codecov.yml
Due: none

Fix comments
  app/src/main/kotlin/dogacel/kotlinx/protobuf/gen/CodeGenerator.kt
Due: app

fix missing points and add tests
  app/src/main/kotlin/dogacel/kotlinx/protobuf/gen/CodeGenerator.kt
  app/src/test/kotlin/dogacel/kotlinx/protobuf/gen/CodeGeneratorTest.kt
  generated-code-tests/src/main/kotlin/testgen/messages/message_no_fields.proto.kt
  generated-code-tests/src/test/kotlin/dogacel/kotlinx/protobuf/gen/proto/MessageTest.kt
  testProtos/data_class.proto
  testProtos/message_no_fields.proto
Due: app, generated code tests

Fix Gen Class Without Any Properties (#15)
  app/src/main/kotlin/dogacel/kotlinx/protobuf/gen/CodeGenerator.kt
  app/src/test/kotlin/dogacel/kotlinx/protobuf/gen/CodeGeneratorTest.kt
  generated-code-tests/src/main/kotlin/testgen/messages/message_no_fields.proto.kt
  generated-code-tests/src/test/kotlin/dogacel/kotlinx/protobuf/gen/proto/MessageTest.kt
  testProtos/message_no_fields.proto
Due: app, generated code tests

ci: publishing fixes
  .gitignore
  README.md
  app/build.gradle.kts
  build.gradle.kts
  runtime-common/build.gradle.kts
Due: app, runtime-common

docs: update readme to include important links
  README.md
Due: none

upload test files
  generated-code-tests/src/main/kotlin/testgen/enums/enums.proto.kt
  generated-code-tests/src/main/kotlin/testgen/google/protobuf/any.proto.kt
  generated-code-tests/src/main/kotlin/testgen/google/protobuf/duration.proto.kt
  generated-code-tests/src/main/kotlin/testgen/google/protobuf/field_mask.proto.kt
  generated-code-tests/src/main/kotlin/testgen/google/protobuf/struct.proto.kt
  generated-code-tests/src/main/kotlin/testgen/google/protobuf/timestamp.proto.kt
  generated-code-tests/src/main/kotlin/testgen/google/protobuf/wrappers.proto.kt
  generated-code-tests/src/main/kotlin/testgen/maps/maps.proto.kt
  generated-code-tests/src/main/kotlin/testgen/messages/message_no_fields.proto.kt
  generated-code-tests/src/main/kotlin/testgen/messages/messages.proto.kt
  generated-code-tests/src/main/kotlin/testgen/oneof/oneof.proto.kt
  generated-code-tests/src/main/kotlin/testgen/primitives/primitives.proto.kt
  generated-code-tests/src/main/kotlin/testgen/protobuf_test_messages/proto3/test_messages_proto3.proto.kt
  generated-code-tests/src/main/kotlin/testgen/repeateds/repeateds.proto.kt
  generated-code-tests/src/main/kotlin/testgen/test/grpc/test_grpc.proto.kt
  generated-code-tests/src/main/kotlin/testgen/test/messages_under_test.proto.kt
  generated-code-tests/src/main/kotlin/testgen/wkt/well_known_type.proto.kt
Due: generated code tests

fix tests
  app/build.gradle.kts
  build.gradle.kts
  examples/sample-grpc-server/build.gradle.kts
  examples/sample-protoc-plugin/build.gradle.kts
  generated-code-tests/build.gradle.kts
  runtime-common/build.gradle.kts
Due: app, generated code tests, runtime-common

fix tests
  app/build.gradle.kts
  build.gradle.kts
  examples/sample-grpc-server/build.gradle.kts
  examples/sample-protoc-plugin/build.gradle.kts
  generated-code-tests/build.gradle.kts
  generated-code-tests/src/test/kotlin/dogacel/kotlinx/protobuf/gen/json/PrimitiveTest.kt
  generated-code-tests/src/test/kotlin/dogacel/kotlinx/protobuf/gen/proto/MapTest.kt
  generated-code-tests/src/test/kotlin/dogacel/kotlinx/protobuf/gen/proto/OneofPOC.kt
  generated-code-tests/src/test/kotlin/dogacel/kotlinx/protobuf/gen/proto/OneofTest.kt
  generated-code-tests/src/test/kotlin/dogacel/kotlinx/protobuf/gen/proto/PrimitiveTest.kt
  generated-code-tests/src/test/kotlin/dogacel/kotlinx/protobuf/gen/proto/RepeatedTest.kt
  gradle/libs.versions.toml
  runtime-common/build.gradle.kts
Due: app, generated code tests, runtime-common

new badges
  README.md
Due: none

chore: update protobuf to latest
  app/src/main/kotlin/dogacel/kotlinx/protobuf/gen/CodeGenerator.kt
  app/src/main/kotlin/dogacel/kotlinx/protobuf/gen/DefaultValues.kt
  app/src/main/kotlin/dogacel/kotlinx/protobuf/gen/TypeNames.kt
  examples/sample-grpc-server/src/main/kotlin/App.kt
  generated-code-tests/src/main/kotlin/testgen/enums/enums.proto.kt
  generated-code-tests/src/main/kotlin/testgen/google/protobuf/any.proto.kt
  generated-code-tests/src/main/kotlin/testgen/google/protobuf/struct.proto.kt
  generated-code-tests/src/main/kotlin/testgen/maps/maps.proto.kt
  generated-code-tests/src/main/kotlin/testgen/messages/message_no_fields.proto.kt
  generated-code-tests/src/main/kotlin/testgen/messages/messages.proto.kt
  generated-code-tests/src/main/kotlin/testgen/oneof/oneof.proto.kt
  generated-code-tests/src/main/kotlin/testgen/primitives/primitives.proto.kt
  generated-code-tests/src/main/kotlin/testgen/protobuf_test_messages/proto3/test_messages_proto3.proto.kt
  generated-code-tests/src/main/kotlin/testgen/repeateds/repeateds.proto.kt
  generated-code-tests/src/main/kotlin/testgen/test/grpc/test_grpc.proto.kt
  generated-code-tests/src/main/kotlin/testgen/test/messages_under_test.proto.kt
  generated-code-tests/src/test/kotlin/dogacel/kotlinx/protobuf/gen/proto/EnumTest.kt
  generated-code-tests/src/test/kotlin/dogacel/kotlinx/protobuf/gen/proto/MapTest.kt
  gradle/libs.versions.toml
Due: app, generated code tests

update README
  README.md
Due: none

Path conditions:
  app: any of: app, but not: **/test_messages_proto3.proto.kt, **/google/protobuf/*.proto.kt, examples, docs
  generated code tests: any of: generated-code-tests, but not: **/test_messages_proto3.proto.kt, **/google/protobuf/*.proto.kt, examples, docs
  runtime-common: any of: runtime-common, but not: **/test_messages_proto3.proto.kt, **/google/protobuf/*.proto.kt, examples, docs
